<%- include('global/header', {title: "Home"}); %>
<%- include('global/navbar', {totalPages: allPages}); %>


<div class="blog-body container">
  <div class="row">
    <div class="col-12">
      <h2 class = "text-center"> Wittier Page Heading My Guys </h2>
    </div>
  </div>


  <div class="row">
    <div class="col-3">
      VOCAB
    </div
    <div class="col-6">
      <p10>Below is a summary of all the Science and Engineering Degrees earned in America through out an 11 year span (2006-2016) across 10 of the most widely known race demographics/classifications. These demographics include American Indian or Alska Native, Asian or Pacific Islander, Asian, Black or African American, Hispanic or Latino, Native Hawaiian or other Pacific Islander, White, Other, those of an Unknown Race or Identity, and those of More than one Race. Approximately 80% of America is or identifies as white, so there is no real suprise that the majority of the total Science and Engineering degrees in America over the last 11 years are predominantly earned by White identifying people (51.8% of the total.)MORE CONTENT</p10>
    </div>
    <div class="col-3">

      <a class="sidebar" href="https://nces.ed.gov/programs/raceindicators/indicator_reg.asp" target="_blank" >Race, Sex, and Stem
        Article</a>

      <a class="sidebar" href="https://ncses.nsf.gov/pubs/nsb20197/demographic-attributes-of-s-e-degree-recipients" target="_blank"> A Look into the 2017 Graduate Census: Science and Engineering</a>

      <a class="sidebar" href="https://www.cbssports.com/nba/news/rockets-vs-thunder-russell-westbrooks-fatal-flaw-his-inability-to-be-anything-other-than-russell-westbrook/" target="_blank"  >LINK 3</a>

      <p7><a class="sidebar" href="https://sportsnaut.com/rockets-rumors-james-harden-trade/" target="_blank" >LINK 4</a> </p7>



    </div>
  </div>

<br>
<br>
<br>
  <div class="row">
    <div class="col-6">


      <div id="chart"></div>
      <script>
        <% let columnArray = []; %>
        <% for (race of allPages) { %>
          <% let str = 'Science'; %>
          <% let dataPoint = race[str][10] %>
          <% let tinyArray = [race.name, dataPoint]; %>
          <% columnArray.push(tinyArray); %>
        <%}%>
        var chart = c3.generate({
            data: {

              columns: [
              <% for (let i = 0; i < columnArray.length; i++) {%>
                  ['<%=columnArray[i][0]%>', <%=columnArray[i][1]%>],
              <%}%>
            ],
            type : 'pie'
        },
        size: {
        height: 500,
        width: 500
    },
    legend: {
        position: 'left'
    }
        });
      </script>
    </div>

    <div class="col-6">
      LARGER CHART ANALYSIS WILL GO HERE
        </div>
  </div>






  <%- include('global/footer'); %>
