<%- include('global/header', {title: "Home"}); %>
<%- include('global/navbar', {totalPages: allPages}); %>


<div class="blog-body container">
  <div class="row">
    <div class="col-12">
      <h2 class = "text-center"> Who Does What? </h2>
      <br>
    </div>
  </div>


  <div class="row">
    <div class="col-9">
      <br>
      <h6 class = "macro-description"> College majors are one of the many chattels of American culture that is plagued with its fair share of stereotypes and tropes. Patterns seem to stick and become maxims, despite how outdated some tropes can be. Are all Asian children truly destined to be engineers or doctors? Will these fields be majority Asian in that case? In an effort to visualize this, we accessed a NCSES database that records the total number of science and engineering degrees in Ameica across racial demographics. </h6>
      <br>
      <h6 class = "macro-description"> Below is a summary of all the Science and Engineering Degrees earned in America throughout an 11 year span (2006-2016) across 10 of the most widely known race demographics/classifications. These demographics include American Indian or Alaska Native, Asian or Pacific Islander, Asian, Black or African American, Hispanic or Latino, Native Hawaiian or other Pacific Islander, White, Other, those of an Unknown Race or Identity, and those of More than one Race. Approximately 80% of America is or identifies as white, so there is no real surprise that the majority of the total Science and Engineering degrees in America over the last 11 years are predominantly earned by White identifying people (51.8% of the total.) While this will obviously mean they have more overall  science and engineering degrees, it will be interesting to see what degrees are most popular among each of the 10 classifications, and how they differ. </h6>
      <br>
      <h6 class = "macro-description"> IMPORTANT NOTE: Some of the data for certain years across the demographics were unavailable, and therefore substituted with the value from the closest previous year. Plateaus in charts are subject to question, as they may not offer the most accurate patterns. </h6>
    </div>
    <div class="col-3">
      <h4> Links </h4>
        <a class="sidebar" href="https://www.nacme.org/underrepresented-minorities" target="_blank"> Underrepresented Minorities in Stem</a>
        <br></br>
        <a class="sidebar" href="https://www.usatoday.com/story/opinion/2020/07/28/why-women-minorities-still-feel-excluded-stem-careers-column/5516913002/" target="_blank"> Why Women, Minorities Still Feel Excluded from STEM careers</a>
        <br></br>
        <a class="sidebar" href="https://www.bls.gov/cps/demographics.htm" target="_blank"> Census Employment Demographics </a>
        <br></br>
        <a class="sidebar" href="https://www.brookings.edu/research/new-census-data-shows-the-nation-is-diversifying-even-faster-than-predicted/" target="_blank"> Rapid Diversification In American Job Markets </a>
        <br></br>
        <a class="sidebar" href="https://ncses.nsf.gov/pubs/nsf19304/data" target="_blank"> Original Data Set</a>
        <br></br>
        <a class="sidebar" href="https://www.nytimes.com/2020/08/07/business/minorities-continue-to-bear-a-heavy-portion-of-the-job-markets-pain.html" target="_blank"  >Minorities and the Job Market</a>
        <br></br>
        <a class="sidebar" href="https://www.bls.gov/opub/reports/race-and-ethnicity/2018/home.htm" target="_blank"  >Labor Force Statistics (2001-onwards)</a>
        <br></br>
        <a class="sidebar" href="https://www.forbes.com/sites/marshallshepherd/2016/01/18/why-do-many-minorities-avoid-science/?sh=6f3e9e322ece" target="_blank"  >Why Do Minorities Avoid Science?</a>
        <br></br>
        <a class="sidebar" href="https://www.theatlantic.com/business/archive/2013/11/the-workforce-is-even-more-divided-by-race-than-you-think/281175/" target="_blank"  >Workforce Race Divisions</a>


    </div>
  </div>

<br>
<br>
<br>
  <div class="row">
    <div class="col-6">


      <div id="piechart1"></div>
      <script>
        <% let columnArray = []; %>
        <% for (race of allPages) { %>
          <% if (race['name'] != 'allRaces') {%>
            <% let str = 'All S-and-E'; %>
            <% let dataPoint = race[str][10] %>
            <% let tinyArray = [race.name, dataPoint]; %>
            <% columnArray.push(tinyArray); %>
          <%}%>
        <%}%>
        var chart = c3.generate({
          bindto: '#piechart1',
          title: {
            text: 'Total Degrees Earned by Race in 2016'
          },
          data: {

              columns: [
              <% for (let i = 0; i < columnArray.length; i++) {%>
                  ['<%=columnArray[i][0]%>', <%=columnArray[i][1]%>],
              <%}%>
            ],
            type : 'pie'
        },
        size: {
        height: 500,
        width: 500
        },
        legend: {
          position: 'left'
        }
        });
      </script>
    </div>

    <div class="col-6">
      <div id="piechart2"></div>
        <script>
          <% let columnArray2 = []; %>
          <% let allRaces = allPages[allPages.length-1]; %>
          <% for (let field in allRaces) {%>
            <% if (field != 'name') {%>
              <% let dataPoint = allRaces[field] %>
              <% dataPoint *= 1; %>
              <% let tinyArray = [field, dataPoint]; %>
              <% columnArray2.push(tinyArray); %>
            <%}%>
          <%}%>
          var chart = c3.generate({
            bindto: '#piechart2',
            title: {
              text: 'Total Degrees Earned by Field in 2016'
            },
            data: {


              columns: [
              <% for (let i = 0; i < 9; i++) {%>
                ['<%=columnArray2[i][0]%>', <%=columnArray2[i][1]%>],
              <%}%>
              <% let otherSum = 0; %>
              <% for (j = 9; j < columnArray2.length; j++) { %>
                <% otherSum += columnArray2[j][1]; %>
              <%}%>
              ['Other', <%= otherSum %>]
            ],
              type : 'pie'
          },
          size: {
          height: 500,
          width: 500
          },
          legend: {
            position: 'left'
          }
          });
        </script>


    </div>
  </div>

  <br></br>









  <%- include('global/footer'); %>
