<%- include('global/header', {title: page.name}); %>
<%- include('global/navbar', {totalPages: allPages}); %>


<div class="blog-body container">
  <div class="row">
    <div class="col-12">
      <h2 class = "text-center"><%= page.name %></h2>
    </div>
  </div>
<br>
<br>
<br>

  <div class="row">
    <div class="col-6">
      <div id="piechart"></div>
      <script>
        <% let columnArray = []; %>
        <% for (field in page) { %>
          <% if (field != "name" && field != "description" && field != "Social sciences" && field != "Science" && field != "Engineering") {%>
            <% let array = page[field]; %>
            <% let dataPoint = array[array.length-1]; %>
            <% let tinyArray = [field, dataPoint]; %>
            <% columnArray.push(tinyArray); %>
          <%}%>
        <%}%>
        var chart = c3.generate({
            bindto: '#piechart',
            title: {
              text: 'Types of Degrees Earned in 2016'
            },
            size: {
              height: 500,
              width: 500,
            },
            data: {

              columns: [
              <% for (let i = 2; i < 2+8; i++) {%>
                ['<%=columnArray[i][0]%>', <%=columnArray[i][1]%>],
              <%}%>
              <% let otherSum = 0; %>
              <% for (j = 9; j < columnArray.length; j++) { %>
                <% otherSum += columnArray[j][1]; %>
              <%}%>
              ['Other', <%= otherSum %>]
            ],
            type : 'pie',
    legend: {
        position: 'right'
    }
        }
        });
      </script>


    </div>
         <div class="col-6">
           <h5> <%= page.description %> </h5>
          </div>
  </div>

<br>
<br>
<br>
  <div class="row">
    <div class="col-12">
      <div id="linegraph"></div>
      <script>
        <% let columnArray2 = []; %>
        <% for (field in page) { %>
          <% if (field != "name" && field != "description" && field != "Social sciences" && field != "Science" && field != "Engineering") {%>
            <% let array = page[field]; %>
            <% let tinyArray = [field]; %>
            <% for (let i = 0; i < array.length; i++) { %>
              <% tinyArray.push(array[i]); %>
            <%}%>
            <% columnArray2.push(tinyArray); %>
          <%}%>
        <%}%>
        var chart2 = c3.generate({
            bindto: '#linegraph',
            title: {
              text: 'Types of Degrees Earned From 2006-2016'
            },
            data: {
                x: 'x',
                columns: [
                    ['x', 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016],

                    <% for (let i = 2; i < 2+10; i++) {%>
                      ['<%=columnArray2[i][0]%>', <%=columnArray2[i][1]%>, <%=columnArray2[i][2]%>, <%=columnArray2[i][3]%>, <%=columnArray2[i][4]%>, <%=columnArray2[i][5]%>, <%=columnArray2[i][6]%>, <%=columnArray2[i][7]%>, <%=columnArray2[i][8]%>, <%=columnArray2[i][9]%>, <%=columnArray2[i][10]%>, <%=columnArray2[i][11]%>],
                    <%}%>
                ]
            },
            axis: {
        x: {
            label: 'Year'
        },
        y: {
            label: 'Number of Degrees Earned'
        }
      }
        });
      </script>



    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <% if (index == 0) { %>
        <% let prevFilename = allPages[9].name.replace(/ /g, "-"); %>
        <a class = "prev text-center" href="<%=prevFilename%>.html"> Prev </a>
        <% let nextFilename = allPages[1].name.replace(/ /g, "-"); %>
        <a class = "next text-center" href="<%=nextFilename%>.html"> Next </a>
      <%}%>
      <% if (index == 9) { %>
        <% let prevFilename = allPages[8].name.replace(/ /g, "-"); %>
        <a class = "prev text-center" href="<%=prevFilename%>.html"> Prev </a>
        <% let nextFilename = allPages[0].name.replace(/ /g, "-"); %>
        <a class = "next text-center" href="<%=nextFilename%>.html"> Next </a>
      <%}%>
      <% if (index > 0 && index < 9) { %>
        <% let prevFilename = allPages[index-1].name.replace(/ /g, "-"); %>
        <a class = "prev text-center" href="<%=prevFilename%>.html"> Prev </a>
        <% let nextFilename = allPages[index+1].name.replace(/ /g, "-"); %>
        <a class = "next text-center" href="<%=nextFilename%>.html"> Next </a>
      <%}%>
    </div>
  </div>

  <%- include('global/footer'); %>
